/* write your override styles here */
#wall .tag-1 {
  display: none;
} /* tag 1 inside of wall is more specific so overrides*/
.tag-1 + #wall #tag-2 {display: none;}
#tag-2 + #tag-3 .slick .wicked {display: none;}
#tag-3 + .parent #tag-4 {display: none;}
#tag-4 + div#wall .parent #tag-5 .slick {display: none;}
#tag-5 + #tag-6 {display: none;}
#tag-6 + .parent #tag-7 .slick {display: none;}
